<section id="widget-grid" class="users_list">
  <div class="card mt-2" id="new-meeting-card">
     <h2 class="mt-3 mb-3">Edit Meeting</h2>
      <%= render 'meetings/form', meeting: @meeting %>
  </div>
</section>
<script>
  function reset(){
    $('#error_explanation').html('');
    }
    $('.cancel_meeting_modal').on('click', function(e){
      // e.preventDefault();
      // $('.modal').modal('hide');
  });
</script>
