<section id="widget-grid" class="users_list">
      <div class="card mt-2" id="new-meeting-card">
         <h2 class="mt-3 mb-3">New Meeting</h2>
          <%= render 'meetings/form', meeting: @meeting %>
      </div>

    <!-- <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%#= render partial: 'form',
                 layout: 'shared/smart_widget_wrapper',
                 locals: {
                     meeting: @meeting,
                     wid_id: 'meeting',
                     wid_title: 'New Meeting'
                 } %>
    </article> -->
</section>
<script>
   $(document).on('turbolinks:load', function() {
      $('#meeting_time_start').data('selected');
  });

    $(document).on('show.bs.modal', function() {
      $('#meeting_time_start').data('selected');
  });
</script>
