<div class="col-xs-12 btn-edition tabs-section">
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle actions-tab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ACTIONS <span class="caret"></span></button>
    <ul class="dropdown-menu dropdown-links" role="menu">
     <li>
       <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
        <%= link_to 'Cancel', users_path, class: 'dropdown-item' %>
      </li>
    </ul>
  </div>
</div>

<h1><%= @user.name %></h1>
<%= render_tabs user_admin_show_page(@user) %>
